<footer *ngIf="_NavbarService.visible">
    <div class="container">
        <div class="footer-body">
            <div class="row">
                <div class="col-md-6 col-lg-4 footer-col ">
                    <img src="../../assets/images/logo.svg" alt="" class="footer-img img-fluid">
                    <p class="footer-p">Movies & TV Shows, actors of cinema,<br> Movie database HTML Template.</p>
                    <app-social-media></app-social-media>
                </div>
                <div class="col-md-4 col-lg-2  footer-col">
                    <h4 class="footer-title">
                        FlixTV
                    </h4>
                    <p  class="footer-link">
                        About us
                    </p>
                    <p  class="footer-link">
                        My profile
                    </p>
                    <p  class="footer-link">
                        Pricing plans
                    </p>
                    <p  class="footer-link">
                        Contacts
                    </p>
                </div>
                <div class="col-md-6  col-lg-4 footer-col">
                    <h4 class="footer-title">
                        Browse
                    </h4>
                    <div class="row">
                        <div class="col-6">
                            <p class="footer-link">Live TV</p>
                            <p class="footer-link">Live News</p>
                            <p class="footer-link">Live Sports</p>
                            <p class="footer-link">Stream Library</p>
                        </div>
                        <div class="col-6">
                            <p class="footer-link">TV Shows</p>
                            <p class="footer-link">Movies</p>
                            <p class="footer-link">Kids</p>
                            <p class="footer-link">Collections</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2  footer-col">
                    <h4 class="footer-title">
                        Help
                    </h4>
                    <p  class="footer-link">
                        Account & Billing
                    </p>
                    <p  class="footer-link">
                        Plans & Pricing
                    </p>
                    <p  class="footer-link">
                        Supported devices
                    </p>
                    <p  class="footer-link">
                        Accessibility
                    </p>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            Copyright ©2022 All rights reserved | This template designed & Developed by <a href="https://github.com/AsmaaZeyada" target="_blank">Asmaa Zeyada</a>
        </div>
    </div>
</footer>
