<div class="about-us">
    <div class="container">
        <header>
            <h2>FlixTV – Best place for movies& more.</h2>
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        </header>
        <section id="subSteps">
            <div class="row">
                <div class="col-md-4" *ngFor="let step of subscribeSteps">
                    <div class="step">
                        <h4><span>{{step.id}}</span> {{step.step}}</h4>
                        <p>{{step.desc}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="subFeatures">
            <h2>Subscribe features</h2>
            <div class="features">
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fas fa-wallet"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fas fa-shield-alt"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fas fa-video"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fab fa-cc-paypal"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fas fa-film"></i>Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="far fa-star"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fas fa-shield-alt"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="feature">
                            <h4><i class="fas fa-headset"></i> Choose your Plan</h4>
                            <p>It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<app-small-plans></app-small-plans>
